apiVersion: authorization.openshift.io/v1
kind: ClusterRole
metadata:
  name: "{{ role.name }}"
{% if role.labels | d(false) %}
  labels:
{% for key, value in labels.items() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if role.rules | d(false) %}
  - {{ rule | to_nice_yaml | indent(4) -}}
{% endif %}
{% if role.aggregation_rule | d(false) %}
aggregationRule:
{% for aggrule in role.aggregation_rule %}
  - matchLabels:
      {{ aggrule | to_nice_yaml -}}
{% endfor %}
{% endif %}