apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: 97-worker-krb5-conf
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      files:
      - overwrite: true
        path: /etc/krb5.conf
        user:
          name: root
        contents:
          source: "data:text/plain;charset=utf-8;base64,{{ kerberos_config_b64 }}"
        mode: 420
    systemd:
      units:
      - enabled: true
        name: rpc-gssd.service
        contents: |
          [Unit]
          Description=RPC security service for NFS client and server
          DefaultDependencies=no
          Conflicts=umount.target
          Requires=rpc_pipefs.target
          After=rpc_pipefs.target

          ConditionPathExists=/etc/krb5.keytab

          PartOf=nfs-utils.service

          [Service]
          Type=forking
          ExecStart=/usr/sbin/rpc.gssd

          [Install]
          WantedBy=multi-user.target
