apiVersion: v1
kind: Secret
metadata:
  name: "{{ _secret_name }}"
  namespace: "{{ _secret_namespace }}"
type: Opaque
data:
{% for key, val in _secrets.iteritems() %}
  {{ key }}: "{{ val | b64encode }}"
{% endfor %}