apiVersion: v1
kind: Secret
metadata:
  name: "{{ (_secret_name | lower) }}"
  namespace: "{{ _secret_namespace }}"
type: "{{ _secret_type | d(Opaque) }}"
data:
{% for key, val in _secrets.items() %}
  {{ key }}: "{{ val | b64encode }}"
{% endfor %}
