apiVersion: operator.openshift.io/v1
kind: IngressController
metadata:
  name: default
  namespace: openshift-ingress-operator
spec:
  defaultCertificate:
    name: "{{ ocp_cluster_config_ingress_controller_secret_name }}"
{%  if ocp_cluster_config_infra_nodes is defined %}
  nodePlacement:
    nodeSelector:
      matchLabels:
        node-role.kubernetes.io/infra: ""
        router: null
    tolerations:
    - effect: NoSchedule
      key: infra
      value: reserved
    - effect: NoExecute
      key: infra
      value: reserved
  replicas: {{ ocp_cluster_config_infra_nodes | count | int }}
{%  else %}
  nodePlacement:
    nodeSelector:
      matchLabels:
        router: "true" 
    tolerations: []
  replicas: {{ ocp_cluster_config_router.nodes | count | int }}
{%  endif %}
  tuningOptions:
    clientTimeout: 60s
    serverTimeout: 60s
